body {
    font-family: Arial, sans-serif;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

svg {
    border: 1px solid lightgray;
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}
